<%= form_for(@post) do |f| %>
    <div class="title-div">
      <%= f.text_field :title %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :book_id %>
    </div>
    <div class="toolbar edit_toolbar">
      <a href="#" class="btn content_btn">正文</a>
      <a href="#" class="btn warning_btn">警告</a>
      <a href="#" class="btn info_btn">提示</a>
      <a href="#" class="btn note_btn">笔记</a>
      <a href="#" class="btn code_btn">代码</a>
      <a href="#" class="btn table_btn">表格</a>
      <a href="#" class="btn link_btn">链接</a>
      <a href="#" class="btn title_1_btn">一级标题</a>
      <a href="#" class="btn title_2_btn">二级标题</a>
      <a href="#" class="btn title_3_btn">三级标题</a>
    </div>
    <div class="content-div">
      <%= f.text_area :content, :style => "width:1000px;height:500px;resize:vertical;font-size:13px;" %>
    </div>
    <div class="toolbar post_toolbar">
      <a class="btn preview_btn" href="#">预览</a>
      <a class="btn format_btn" href="#">格式化</a>
      <a class="btn save_btn" href="#">保存</a>
      <a class="btn back_btn" href="#">返回</a>
    </div>
<% end %>

<div class="preview_div" style="position: absolute;left: 0;top: 50px;background: white;width: 100%;height: 100%;display: none;">
  <div class="toolbar"  style="width: 1000px;margin-left: auto;margin-right: auto;">
    <a class="btn save_btn" href="#">保存</a>
    <a class="btn close_btn" href="#">关闭预览</a>
  </div>
  <div class="post" style="width: 1000px;margin-left: auto;margin-right: auto;">
    <div class="title">
      <label></label>
    </div>
    <div class="content"></div>
  </div>
</div>

<%= render "demo" %>